.game {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 600px) {
    .game {
        text-align: center;
    }
}

.game-inner {
    flex: 0 1 auto;
}

@media (min-aspect-ratio: 1/1) and (min-width: 600px) {
    .game-inner {
        width: calc(60vh + 15px);
    }
}

@media (max-aspect-ratio: 1/1) and (min-width: 600px) {
    .game-inner {
        width: calc(60vw + 15px);
    }
}

.game-area-header {
    color: #483a3a;
    transition: all ease .4s .2s;
    min-height: 4rem;
}

@media (min-width: 600px) {
    .game-area-header {
        min-height: 5.5rem;
    }
}

.game-area-header-active {
    color: white;
}

.game-area-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-area-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

@media (max-width: 800px) {
    .game-area-player {
        min-width: 120px;
    }
}

.game-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    .game-area {
        justify-content: space-between;
    }

    .game-board {
        flex: 1 0 100%;
    }
}

.player {
    transition: all ease .4s .2s;
    flex: 0 1 auto;
    margin-top: 1rem;
    color: black;
}

@media (min-width: 600px) {
    .player {
        position: absolute;
        top: 50%;
        margin: 0;
        transform: translateY(-50%);
    }

    .player-x {
        right: 100%;
    }

    .player-o {
        left: 100%;
    }
}

@media (max-width: 600px) {
    .player {
        min-width: 0;        
    }
}

.player-active {
    color: white;
}

.player-cell-x:before, .player-cell-x:after {
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    background: currentColor;
}

.player-active .player-cell-x:before, .player-active .player-cell-x:after {
    background: white;
}

.player-cell-x:before {
    transform: translateY(-.15rem) rotate(45deg);
}

.player-cell-x:after {
    transform: translateY(-.15rem) rotate(135deg);
}

.player-cell-o:before {
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border: 2px currentColor solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.player-active .player-cell-o:before {
    border-color: white;
}

.player-cell-x:before, .player-cell-x:after, .player-cell-o:before {
    content: '';
    position: absolute;
    transition: all ease .4s .2s;
}

.player-cell {
    position: relative;
    width: 10vh;
    height: 10vh;
}

.button-reset {
    margin-top: 1rem;
}

